/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Stay on top */
  top: 80px;
  left: 0;
  background-color: #101923; /* color*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidebar */
  border-top: 2px solid #002439;
}

/* The sidebar links */
.sidebar a {
  padding-block: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #cbdee9;
  display: block;
  transition: 0.3s;
  border-bottom: 2px solid #002439;
  padding-left: 30px;

}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  /* color: orange; */
  text-decoration: none;
  background-color: #003655;
  /* border-radius: 10px; */

}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* .links {
  margin-left: 30px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}