/* .App{
  background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-color: #222831 !important;
    color: #252627 !important;
    font-family: expressway;
    padding-top: 100px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  } */
.css-sghohy-MuiButtonBase-root-MuiButton-root{
background-color: #393E46 !important;
}

.buttonGroup{ 
  margin-left: 110px;
  
}

.cartImg img {
    box-shadow: 0 5px 14px rgb(0 0 0 / 1);
}


.css-anmq6p-MuiTypography-root {
  background-color: #ffecb5 !important;
  color: #664d03;
}

.css-5jgmhe-MuiPaper-root-MuiCard-root{
  background-color: #ffecb5 !important;
  box-shadow: 100 100px 100px rgb(0 0 0 / 1) !;
}


.justification{
  
  margin-top: 5000px;
  margin-left: 70px !important;
}

.commanderStatus{
  margin-left: 0px !important;
}

.assetname{ 
  text-align: center !important;
}

.assetname1 {
  text-align: center !important;
  background-color: #00ADB5;
  color: #EEEEEE;
}

.css-4nuc4o-MuiPaper-root-MuiCard-root{
  background: #EEEEEE !important;
  background: #4b4141 !important;
  box-shadow: 0 5px 14px rgb(0 0 0 / 1);
}

.loginheader {
    height: 100px;
    width: 100%;
    background-color: #F2EFE9;
    margin-top: -100px !important;
    margin: 10px;
}
.loginheader img {
margin-left: 300px;

}