
.mapStyle {
    margin-top: -100px !important;
}


.mapheader {
    padding-top: -100px !important;
    height: 100px;
    width: 100%;
    background-color: #F2EFE9;
    text-align: center;
    z-index: 2;
}

.mapheader img {
    width: 750px;
    height: auto;
    padding-top: 10px;
}


.map-Container{
    position: absolute;
    z-index: 2;
}

.sidebar {
background-color: rgba(35, 55, 75, 0.9);
color: #fff;
margin-top: -500px;
padding: 6px 12px;
font-family: monospace;
z-index: 2;
position: absolute;
top: 0;
left: 0;
margin: 12px;
border-radius: 4px;
width: 150px;
}

