:root {
  --global-font: 'Poppins', sans-serif;
  --global-font-multiplier: 0.9;
  --global-font-weight: 400; /* ultra-thin 200, thin 300, body 400, thick 500, bold 600, black 800 */
  --global-margin: 1rem;
  --global-margin-half: 0.5rem;
  --global-padding: 1rem;
  --global-padding-half: 0.5rem;
  --global-border-radius: 24px;
  --global-transition-speed: 300ms;
  --global-transition-speed-fast: 100ms;

  --input-padding: 0.5rem 1rem 0.5rem 1rem;

  --font-size-massive: calc(4rem * var(--global-font-multiplier));
  --font-size-huge: calc(3.5rem * var(--global-font-multiplier));
  --font-size-big: calc(3rem * var(--global-font-multiplier));
  --font-size-title-large: calc(2.8rem * var(--global-font-multiplier));
  --font-size-title: calc(2.5rem * var(--global-font-multiplier));
  --font-size-heading: calc(2rem * var(--global-font-multiplier));
  --font-size-subheading: calc(1.5rem * var(--global-font-multiplier));
  --font-size-body-large: calc(1.25rem * var(--global-font-multiplier));
  --font-size-body: calc(1rem * var(--global-font-multiplier));
  --font-size-body-small: calc(0.75rem * var(--global-font-multiplier));
  --font-size-tiny: calc(0.5rem * var(--global-font-multiplier));
  --font-size-microscopic: calc(0.25rem * var(--global-font-multiplier));

  --ultra-thin: 200;
  --thin: 300;
  --body: 400;
  --thick: 500;
  --bold: 600;
  --bolder: 700;
  --heavy: 800;

  --breakpoint-mobile: 767px;
  --breakpoint-tablet: 768px;
}

#lite {
  --color-background: #ffffff;
  --color-text: #222222;
  --color-text-menu: #ffffff;
  --color-bright-text: #bdc7d7;

  --global-box-shadow-color: #55658aba;
  --global-menu-box-shadow-color: #0b1f4e3b;

  --color-primary: #55658a;
  --color-primary-transparent: #55658a31;
  --color-secondary: #42527b;
  --color-secondary-transparent: #42527b72;
  --color-tertiary: #67779e;
  --color-quaternary: #778fba;
  --color-quaternary-transparent: #778fba31;
  --color-quinary: #b0bad6;
  --color-quinary-bright: #d9dee9;
  --color-quinary-off-bright: #6b6f7a;

  --color-odd-row: #ffffff;
  --color-even-row: #eff0f4; 
  --color-row-hover: #cdd6e6;
  --color-highlighted: #67779e;
  --color-highlighted-text: #42527b;
  --color-input-text: #222222;
  --color-sheet-title: #35405d;

  --color-entry-header-text: #4c5670;
  --color-entry-text: #5a688b;
  --color-entry-checkbox: #ced0d9;
  --color-entry-field-type: #c8c9cc;

  --color-menu-plus: #55658a;
  --color-cover: #dce6f633;

  --color-undenary: #413768;
  --color-duodenary: #352b57;
  
  --edit-dark: url('../_assets/icons/edit-blue.png');
  --edit-light: url('../_assets/icons/edit.png');

  --arrow-up: url('../_assets/icons/up-arrow.png');
  --arrow-down: url('../_assets/icons/down-arrow.png');

  --search-icon: url('../_assets/icons/edit-blue.png');

  --color-green: #0ca789;
  --color-yellow: #fac70d;
  --color-red: #da0063;

  color: var(--color-text);
  background: var(--color-background);

  height: 100%;
  width: 100%;

  transition:
  background-color 100ms ease,
  background 1000ms ease;

  /* display: flex; */
}

#dark {
  --color-background: #111520;
  --color-text: #ffffff;
  --color-text-menu: #ffffff;
  --color-bright-text: #98aad1;

  --global-box-shadow-color: #4059729c;
  --global-menu-box-shadow-color: #24305021;

  --color-primary: #55658a;
  --color-primary-transparent: #55658a31;
  --color-secondary: #42527b;
  --color-secondary-transparent: #42527b31;
  --color-tertiary: #67779e;
  --color-quaternary: #778fba;
  --color-quaternary-transparent: #778fba31;
  --color-quinary: #b0bad6;
  --color-quinary-bright: #283146;
  --color-quinary-off-bright: #374159;

  --color-cover: #22233244;

  --color-odd-row: #2d364b;
  --color-even-row: #242c3e;
  --color-row-hover: #323b52;
  --color-highlighted: #586789;
  --color-highlighted-text: #ffffff;
  --color-input-text: #222222;
  --color-sheet-title: #eff1f6;

  --color-entry-header-text: #919dbf;
  --color-entry-text: #cccfd6;
  --color-entry-checkbox: #ffffff;
  --color-entry-field-type: #535d73;

  --color-menu-plus: #ffffff;

  --color-undenary: #374b68;
  --color-duodenary: #4d4f5783;

  --edit-light: url('../_assets/icons/edit.png');
  --edit-dark: url('../_assets/icons/edit-blue.png');

  --arrow-up: url('../_assets/icons/up-arrow-dark.png');
  --arrow-down: url('../_assets/icons/down-arrow-dark.png');

  --search-icon: url('../_assets/icons/edit-blue.png');

  --color-green: #0ca789;
  --color-yellow: #fac70d;
  --color-red: #da0063;

  color: var(--color-text);
  background: var(--color-background);

  height: 100%;
  width: 100%;

  transition:
  background-color 100ms ease,
  background 1000ms ease,
  border-color 1000ms ease;

  /* display: flex; */
}

html {
  font-family: var(--global-font);
  font-size: var(--font-size-body);
  font-weight: var(--global-font-weight);

  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

#page {
  height: 100%;
  width: calc(100% - 6rem);
  margin-left: 5.5rem;
  transition: all var(--global-transition-speed) ease;
  /* display: flex; */
  /* justify-content: center; */
  /* padding-left: 2rem; */
  /* padding-top: 4rem; */
}

button, input {
  font-family: var(--global-font);
  font-weight: var(--global-font-weight);
}

html ::-webkit-scrollbar {
  display: none;
}

.pointer {
  cursor: pointer;
}

.fill {
  height: 100vh;
  width: 100vw;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

textarea:focus, input:focus{
  outline: none;
}

.toast {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-text-menu);
  font-size: var(--font-size-body);
}

.no-wrap {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  background: var(--color-cover)
  /* background: #272a3035; */
}

.login-screen {
  background-color: #ffffff;
  color: #1c1c1c;
}

.p1login {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p1login .mainimg {
  display: block;
  height: auto;
  width: 90vw;
  max-width: 900px;
}

.p1login .mainimg-mobile {
  display: none;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80vw;
}

.signout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  color: #000000;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  min-width: 6rem;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
  margin: 1rem
}

.signout-btn span {
  padding: 0 1rem;
}

.p1login .signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #000000;
  font-weight: var(--bold);
  top: 37%;
  left: 60.5%;
  min-width: 164px;
  max-width: 30%;
  padding: 0.8rem 1.6rem;
  font-size: max(0.5rem, 0.8rem);
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
}

.p1login .signin-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #000000;
  font-weight: var(--bold);
  top: 37%;
  left: 60.5%;
  margin-top: 4.5rem;
  min-width: 164px;
  max-width: 30%;
  padding: 1.2rem 1.6rem;
  font-size: max(0.5rem, 0.8rem);
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
}

.p1login span {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.index-welcome {
  font-size: var(--font-size-title);
  font-weight: var(--bold);
  margin-bottom: -1.2rem;
  color: var(--color-quinary-bright);
  background-image: url('../_assets/img/dod-seal.png');
}

.index-app {
  font-size: var(--font-size-title-large);
  font-weight: var(--heavy);
  padding-bottom: 0.6rem;
  color: var(--color-quinary-bright);
}

.index-name {
  font-size: var(--font-size-huge);
  font-weight: var(--medium);
  color: var(--color-quinary-off-bright);
  letter-spacing: -2px;
}

.not-found {
  font-size: var(--font-size-big);
  font-weight: var(--bold);
  color: var(--color-quinary-off-bright);
  margin-bottom: -0.8rem;
}

#page.extend .dod-img {
  transform: translateX(29rem);
  transition: all var(--global-transition-speed) ease;
}
.dod-img {
  transition: all var(--global-transition-speed) ease;
}








/* SMALL SCREENS */

@media only screen and (max-width: 767px) {

  #page {
    height: calc(100% - 4rem);
    width: 100vw;
    margin: 0rem;
    padding: 0rem;
  }

  .sidebar {
    bottom: 0;
    width: 100%;
    height: 4rem;
  }

  .sidebar-header, .sidebar-footer {
    border-radius: 0;
    background-color: var(--color-secondary);
    min-height: 100%;
    cursor: pointer;
  }

  .sidebar-header-link {
    width: 100%;
    justify-content: center;
  }

  .sidebar-footer-link {
    width: 100%;
    justify-content: center;
  }

  .sidebar-footer-theme-toggle {
    display: none;
  }

  .sidebar-main {
    display: none;
  }

  .sidebar-sheet:focus {
    display: flex;
    align-items: center;
  }

  .sidebar-container {
    flex-direction: row;
    background-color: var(--color-secondary);
  }

  .sidebar {
    border-top: 4px solid var(--color-primary);
    z-index: 1000;
  }

  .p1login .mainimg {
    display: none;
    height: auto;
    width: 80vw;
    max-width: 900px;
  }

  .p1login .mainimg-mobile {
    display: block;
    padding-bottom: 1rem;
  }

  .p1login .signin-btn {
    display: flex;
    align-items: center;
    position: relative;
    color: #000000;
    left: 3vw;
    bottom: 0.5rem;
    width: 64%;
    max-width: 42%;
    padding: 2vw 4vw 2vw 4vw;
    font-size: 2.5vw;
    top: unset;
  }

  .p1login .signin-btn2 {
    display: flex;
    align-items: center;
    position: relative;
    color: #000000;
    left: 3vw;
    bottom: 0.5rem;
    width: 64%;
    margin-top: 1.2rem;
    max-width: 42%;
    padding: 1.2rem 1.2rem;
    font-size: 2.5vw;
    top: unset;
  }

  .p1login span {
    padding-left: 0.8rem;
  }

  .dod-img {
    display: none !important;
  }

}


/* LARGE SCREENS */

@media only screen and (min-width: 768px) {

  #page.extend  {
    height: 100%;
    width: calc(100% - 6rem);
    margin-left: 29rem;
    transition: all var(--global-transition-speed) ease;
  }

  .page-cover.show {
    display: block;
    opacity: 1;
    z-index: 404;
    -webkit-animation: fadeIn var(--global-transition-speed) ease-out;
    -moz-animation: fadeIn var(--global-transition-speed) ease-out;
    -o-animation: fadeIn var(--global-transition-speed) ease-out;
    animation: fadeIn var(--global-transition-speed) ease-out;
  }

  .sidebar-header-add-sheet:hover {
    background-color: var(--color-quaternary);
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar-add-entry-btn {
    display: none;
  }

  .sidebar-sheet-item:hover .sidebar-sheet-menu {
    display: block;
    opacity: 1;
    -webkit-animation: fadeIn var(--global-transition-speed) ease-out;
    -moz-animation: fadeIn var(--global-transition-speed) ease-out;
    -o-animation: fadeIn var(--global-transition-speed) ease-out;
    animation: fadeIn var(--global-transition-speed) ease-out;
  }

  .sidebar-sheet:hover {
    background: var(--color-tertiary);
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar-footer-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    width: initial;
    justify-content: center;
    color: var(--color-text-menu);
    height: 100%;
    flex-grow: 1;
  }

  .sidebar-footer-link-text {
    display: none;
    flex-grow: 2;
  }

  .sidebar-footer:hover {
    background: var(--color-tertiary);
  }

  .sidebar {
    top: 0;
    width: 5rem;
    height: calc(100vh - 6rem);
    padding: 3rem 0.5rem 3rem 0rem;
    z-index: 405;
  }

  .sidebar:hover {
    width: 28rem;
  }

  .sidebar:hover .sidebar-header {
    justify-content: space-between;
  }

  .sidebar:hover .sidebar-header-logo {
    margin-left: 2rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-header-text {
    display: inline;
  }

  .sidebar:hover .sidebar-header-add-sheet {
    display: inline;
  }

  .sidebar:hover .sidebar-sheet-item {
    justify-content: space-between;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-sheet-circle {
    margin-left: 1.5rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-sheet-link-text {
    display: inline;
  }

  .sidebar:hover .sidebar-footer {
    justify-content: start;
  }

  .sidebar:hover .sidebar-footer-link img {
    margin-left: 2rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-footer-link-text {
    display: inline;
  }

  .sidebar:hover .sidebar-footer-theme {
    display: flex;
  }

  .sidebar:hover ~ #page .entry-details-container {
    transform: translateX(+100%) !important;
  }

  .sidebar:hover ~ #page .user-lookup-container {
    transform: translateX(+100%) !important;
  }

}




















/* ANIMATIONS */

@-webkit-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
    display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}
