:root {
  --global-font: 'Poppins', sans-serif;
  --global-font-multiplier: 0.9;
  --global-font-weight: 300; /* thin 200, body 300, thick 400, bold 600, black 800 */
  --global-margin: 1rem;
  --global-margin-half: 0.5rem;
  --global-padding: 1rem;
  --global-padding-half: 0.5rem;
  --global-border-radius: 2rem;
  --global-box-shadow-color: #413768ba;
  --global-transition-speed: 300ms;

  --input-padding: 0.5rem 1rem 0.5rem 1rem;

  --font-size-massive: calc(4rem * var(--global-font-multiplier));
  --font-size-huge: calc(3.5rem * var(--global-font-multiplier));
  --font-size-big: calc(3rem * var(--global-font-multiplier));
  --font-size-title: calc(2.5rem * var(--global-font-multiplier));
  --font-size-heading: calc(2rem * var(--global-font-multiplier));
  --font-size-subheading: calc(1.5rem * var(--global-font-multiplier));
  --font-size-body-large: calc(1.25rem * var(--global-font-multiplier));
  --font-size-body: calc(1rem * var(--global-font-multiplier));
  --font-size-body-small: calc(0.75rem * var(--global-font-multiplier));
  --font-size-tiny: calc(0.5rem * var(--global-font-multiplier));

  --medium: 500;
  --bold: 600;
  --heavy: 800;

  --color-background-lite: #ffffff;
  --color-text-lite: #1c1c1c;
  --color-text-menu-lite: #ffffff;

  --color-background-dark: #1c1c1c;
  --color-text-dark: #ffffff;
  --color-text-menu-dark: #1c1c1c;

  --color-primary: #413768;
  --color-secondary: #352b57;
  --color-tertiary: #594d8b;
  --color-quaternary: #8d7cd5;

  --color-green: #0ca789;
  --color-yellow: #fac70d;
  --color-red: #da0063;
}

html {
  font-family: var(--global-font);
  font-size: var(--font-size-body);
  font-weight: var(--global-font-weight);

  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: var(--color-text-lite);
  background: var(--color-background-light);
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
}

#root  {
  height: 100%;
  width: 100%;
}

#page  {
  height: calc(100% - 2rem);
  width: calc(100% - 10rem);
  padding-left: var(--global-padding);
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 1rem;
  transition: all var(--global-transition-speed) ease;
}

button, input {
  font-family: var(--global-font);
  font-weight: var(--global-font-weight);
}

::-webkit-scrollbar {
  display: none;
}

.lite {
  background: var(--color-background-lite);
  color: var(--color-text-lite);
}

.dark {
  background: var(--color-background-dark);
  color: var(--color-text-dark);
}

.pointer {
  cursor: pointer;
}

.fill {
  height: 100vh;
  width: 100vw;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.no-wrap {
  white-space: nowrap;
}

.page-cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: #0000004e;
  transition: all var(--global-transition-speed) ease;
}

.p1login {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p1login .mainimg {
  display: block;
  height: auto;
  width: 90vw;
  max-width: 900px;
}

.p1login .mainimg-mobile {
  display: none;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80vw;
}

.signout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  min-width: 6rem;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
  margin: 1rem
}

.signout-btn span {
  padding: 0 1rem;
}

.p1login .signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-weight: var(--bold);
  top: 37%;
  left: 60.5%;
  min-width: 164px;
  max-width: 30%;
  padding: 0.8rem 1.6rem;
  font-size: max(0.5rem, 0.8rem);
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
}

.p1login span {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

















/* SMALL SCREENS */

@media only screen and (max-width: 600px) {

  #page {
    height: calc(100vh - 5rem);
    width: 100vw;
    margin: 0rem;
    padding: 0rem;
  }

  .sidebar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }

  .sidebar-header, .sidebar-footer {
    border-radius: 0;
    background-color: var(--color-primary);
    cursor: pointer;
  }

  .sidebar-header-link {
    width: 100%;
    justify-content: center;
  }

  .sidebar-footer-link {
    width: 100%;
    justify-content: center;
  }

  .sidebar-main {
    display: none;
  }

  .sidebar-sheet:focus {
    display: flex;
    align-items: center;
  }

  .sidebar-container {
    flex-direction: row;
  }

  .p1login .mainimg {
    display: none;
    height: auto;
    width: 80vw;
    max-width: 900px;
  }

  .p1login .mainimg-mobile {
    display: block;
    padding-bottom: 1rem;
  }

  .p1login .signin-btn {
    display: flex;
    align-items: center;
    position: relative;
    left: 3vw;
    bottom: 0.5rem;
    width: 64%;
    max-width: 42%;
    padding: 2vw 4vw 2vw 4vw;
    font-size: 2.5vw;
  }
  
  .p1login span {
    padding-left: 0.8rem;
  }

}




/* LARGE SCREENS */

@media only screen and (min-width: 601px) {

  #page.extend  {
    width: calc(100% - 32rem);
    padding-left: var(--global-padding);
    margin-left: 30rem;
    margin-right: 1rem;
    transition: all var(--global-transition-speed) ease;
  }

  .page-cover.show {
    display: block;
    opacity: 1;
    -webkit-animation: fadeIn var(--global-transition-speed) ease-out;
    -moz-animation: fadeIn var(--global-transition-speed) ease-out;
    -o-animation: fadeIn var(--global-transition-speed) ease-out;
    animation: fadeIn var(--global-transition-speed) ease-out;
  }

  .sidebar-header-add-sheet:hover {
    background-color: var(--color-quaternary);
    transition: all var(--global-transition-speed) ease;
  }
  
  .sidebar-add-entry-btn {
    display: none;
  }

  .sidebar-sheet-item:hover .sidebar-sheet-menu {
    display: block;
    opacity: 1;
    -webkit-animation: fadeIn var(--global-transition-speed) ease-out;
    -moz-animation: fadeIn var(--global-transition-speed) ease-out;
    -o-animation: fadeIn var(--global-transition-speed) ease-out;
    animation: fadeIn var(--global-transition-speed) ease-out;
  }
  
  .sidebar-sheet:hover {
    background: var(--color-tertiary);
    transition: all var(--global-transition-speed) ease;
  }
  
  .sidebar-footer-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    width: initial;
    justify-content: center;
    color: var(--color-text-menu-lite);
    height: 100%;
    flex-grow: 1;
  }

  .sidebar-footer-link-text {
    display: none;
    flex-grow: 2;
  }

  .sidebar-footer:hover {
    background: var(--color-tertiary);
  }

  .sidebar {
    top: 0;
    width: 5rem;
    height: calc(100% - 2rem);
    padding: 1rem 0.5rem 1rem 1rem;
    z-index: 10;
  }

  .sidebar:hover {
    width: 28rem;
  }

  .sidebar:hover .sidebar-header {
    justify-content: space-between;
  }

  .sidebar:hover .sidebar-header-logo {
    margin-left: 2rem;
    transition: all var(--global-transition-speed) ease;
  }
  
  .sidebar:hover .sidebar-header-text {
    display: inline;
  }
  
  .sidebar:hover .sidebar-header-add-sheet {
    display: inline;
  }

  .sidebar:hover .sidebar-sheet-item {
    justify-content: space-between;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-sheet-circle {
    margin-left: 1.5rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-sheet-link-text {
    display: inline;
  }
    
  .sidebar:hover .sidebar-footer {
    justify-content: start;
  }

  .sidebar:hover .sidebar-footer img {
    margin-left: 2rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-footer-link-text {
    display: inline;

  }

}




















/* ANIMATIONS */

@-webkit-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
    display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}