.profile-img {
  height: auto;
  width: 10rem;
  min-width: 10rem;
  border-radius: 50%;
}

.profile-img-small {
  height: auto;
  width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
}

.account-meta-img {
  font-weight: var(--bold);
  padding-bottom: 1rem;
}

.account-meta-name {
  padding-bottom: 0.2rem;
  font-weight: var(--bolder);
  font-size: var(--font-size-heading);
  color: var(--color-bright-text);
}

.account-meta-email {
  padding-bottom: 1rem;
  font-weight: var(--bold);
  font-size: var(--font-size-body);
  color: var(--color-quinary-off-bright);
  padding-bottom: 2rem;
}

.token-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  color: #000000;
  padding: 1rem 1.6rem;
  font-size: 1rem;
  min-width: 6rem;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
  margin: 1rem;
  margin-bottom: 0;
}

/* SMALL SCREENS */

@media only screen and (max-width: 767px) {

}




/* LARGE SCREENS */

@media only screen and (min-width: 768px) {

  .account-theme-switcher {
    display: none;
  }

}


