.sheet-page{
  display: flex;
  flex-direction: row;
}

.sheet-display-container{
  min-height: calc(100vh);
  max-height: calc(100vh);
  width: 100%;
  overflow: hidden;
  /* border: 1px solid black; */
  border-radius: var(--global-border-radius);
}

.sheet-display-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: inherit;
}

.sheet-display-body{
  border-radius: var(--global-border-radius);
  height: calc(100% - 82px);
  /* border: 1px solid pink; */
  overflow: scroll;
}

.sheet-display-header div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sheet-display-header img{
  height: 40px;
  width: 40px;
  margin: 20px;
}

.sheet-display-header span {
  font-size: var(--font-size-heading);
  font-weight: 700;
  color: var(--color-text);
}

.sheet-display-header input {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: var(--color-secondary);
  width: 250px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgba(131, 131, 131, 0.8);
  padding: 5px;
  margin: 0px 10px;
}

tbody tr:nth-child(odd):first-of-type {
  /* background-color: var(--color-primary); */
}

tr:nth-child(even) {
  background: var(--color-secondary-transparent);
}

.sheet-display-header button {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: rgb(95, 95, 95);
  width: 120px;
  height: 47px;
  border-radius: 8px;
  background-color: lightgray;
  border: none;
}

.sheet-display-table {
  position: relative;
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
}

.sheet-display-cell {
  padding: 20px;
  font-size: var(--font-size-body);
  color: var(--color-text);
}

thead .sheet-display-cell {
  color: var(--color-text-menu);
}

.sheet-display-table thead {
  font-size: var(--font-size-body-large);
  font-weight: 700;
  background-color: var(--color-tertiary);
  border-bottom: 2px solid var(--color-secondary);
}


tbody .sheet-display-cell {
  cursor: pointer;
}

.field, .value{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 30px;
  max-height: 30px;
}

.entry-row:hover {
  background-color: rgba(216, 216, 216, 0.8);
}

.entry-details-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px);
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 5px;
  box-shadow: 0 2px 6px 0 #413768ba;
}

.hidden {
  min-width: 0px;
  width: 0px;
  background-color: var(--color-secondary);
  z-index: 30;
}

.entry-details-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  font-size: var(--font-size-heading);
  font-weight: 700;
  background-color: var(--color-secondary);
  border-radius: var(--global-border-radius);
}

.entry-details-header button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: var(--font-size-massive);
  height: 55px;
  width: 55px;
  border: none;
  border-radius: 90px;
  background-color: var(--color-secondary);
  color: white;
  transition: all var(--global-transition-speed) ease;
  cursor: pointer;
}

.entry-details-header button:hover{
  background-color: var(--color-quaternary);
}

.entry-details-header span{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: calc(100%);
  margin-right: 1rem;
  color: white;
  border-radius: 20px;
  overflow: visible;
}

.entry-details-header img{
  height: 40px;
  margin-right: 1rem;
}

.entry-details-form{
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 160px);
  margin: 5px;
  overflow: scroll;
  background-color: var(--color-primary);
  height: 100%;
}

.entry-details-form hr{
  width: 100%;
  border: 1px solid var(--color-secondary);
}

.entry-details-field{
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: var(--color-tertiary);
  border-radius: 5px;
  margin: 4px 0px;
  box-shadow: 0 3px 6px 1px #413768ba;
  transition: all var(--global-transition-speed) ease;
}

.entry-details-field div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entry-details-field hr{
  min-width: 100%;
  width: 100%;
  border: 1px solid var(--color-secondary);
  /* color: var(--color-tertiary); */
}

.field-name, .field-type{
  font-size: var(--font-size-body-large);
  font-weight: 600;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

.field-type{
  font-size: var(--font-size-body);
  color: rgb(255, 255, 255, 0.5);
}


.entry-details-input{
  background-color: var(--color-primary);
  color: white;
  border: none;
  margin: 5px;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: var(--font-size-body-large);
  box-shadow: 0 2px 6px 0 #413768ba;
}

.entry-details-input::selection {
  background-color: var(--color-quaternary);
  color: #fff;
}

.entry-details-update{
  position: relative;
  border: none;
  font-size: var(--font-size-heading);
  font-weight: 700;
  height: 80px;
  background-color: var(--color-secondary);
  color: white;
  margin: 10px;
  border-radius: 20px;
}

.entry-details-update{
  position: relative;
  border: none;
  font-size: var(--font-size-heading);
  font-weight: 700;
  height: 100px;
  background-color: var(--color-primary);
  color: white;
  margin: 0px;
  border-radius: 0px 0px var(--global-border-radius) var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
  cursor: pointer;
}

.entry-details-update:hover{
  background-color: var(--color-quaternary);
}

.field-selected{
  background-color: var(--color-quaternary);
}

.field-selected hr{
  border: 1px solid var(--color-quinary);
}

.field-selected input{
  background-color: var(--color-tertiary);
}

.entry-details-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 30px);
  min-width: 400px;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  border-radius: var(--global-border-radius);

  font-size: var(--font-size-heading);
  font-weight: 700;
}

.new-entry{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 90px;
  background-color: lightgray;
  bottom: 0%;
  right: 0%;
  margin: 30px;
  transition: all var(--global-transition-speed) ease;
}

.new-entry img{
  height: 35px;
  margin: 15px 10px;
}

.new-entry:hover{
  background-color: var(--color-primary);
}

.new-entry:hover > img{
  content: url('../_assets/icons/edit.png')
}
