.sheet-page {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  /* max-width: 1920px; */
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sheet-display-container {
  min-height: calc(100vh);
  max-height: calc(100vh);
  width: 100%;
  overflow: hidden;
  /* border: 1px solid black; */
  border-radius: var(--global-border-radius);
}

.sheet-display-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: inherit;
}

.sheet-display-body {
  border-top-left-radius: var(--global-border-radius);
  border-top-right-radius: var(--global-border-radius);
  max-height: calc(100% - 6.7rem);
  overflow: auto;
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  margin-left: 1rem;
  margin-right: 1rem;
}

.sheet-display-body::-webkit-scrollbar {
  display: block;
  width: 0.6rem;
  overflow: auto;
  height: 0.6em;
}

.sheet-display-body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 1rem;
}

.sheet-header-meta {
  padding-left: 1rem;
}

.sheet-search {
  padding-right: 2rem;
}

.sheet-display-header div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
}

.sheet-display-header img {
  height: 40px;
  width: 40px;
  margin: 1rem;
  content: url('../_assets/img/logo.png');
}

.sheet-display-header span {
  font-size: var(--font-size-heading);
  font-weight: 700;
  color: var(--color-text);
}

.sheet-display-header input {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: var(--color-secondary);
  width: 250px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgba(131, 131, 131, 0.8);
  padding: 5px;
  margin: 0px 10px;
}

tbody tr:nth-child(odd):first-of-type {
  /* background-color: var(--color-primary); */
}

tr:nth-child(even) {
  background: var(--color-quaternary-transparent);
}

.sheet-display-header button {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: rgb(95, 95, 95);
  width: 120px;
  height: 47px;
  border-radius: 8px;
  background-color: lightgray;
  border: none;
}

.sheet-display-table {
  position: relative;
  border-collapse: separate;
  white-space: nowrap;
  width: 100%;
  border-spacing: 0;
  border-bottom: 4px solid var(--color-primary);
}

.sheet-display-cell {
  padding: 20px;
  font-size: var(--font-size-body);
  color: var(--color-text);
}

thead .sheet-display-cell {
  color: var(--color-text-menu);
  border-bottom: 4px solid var(--color-primary);
}

.sheet-display-table thead {
  font-size: var(--font-size-body-large);
  font-weight: 700;
  background-color: var(--color-tertiary);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sheet-display-table tbody tr:last-of-type {
  border-bottom: 4px solid var(--color-primary);
}


tbody .sheet-display-cell {
  cursor: pointer;
}

.field, .value {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 30px;
  max-height: 30px;
}

.entry-row:hover {
  background-color: var(--color-secondary-transparent);
}

.new-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 90px;
  background-color: var(--color-tertiary);
  bottom: 2.5rem;
  right: 2.5rem;
  transition: all var(--global-transition-speed) ease;
  cursor: pointer;
}

.new-entry img {
  /* content: var(--edit-dark); */
  content: var(--edit-light);
  height: 2rem;
  padding: 0.5rem;
  margin: 15px 10px;
}

.new-entry:hover {
  background-color: var(--color-quaternary);
}

.new-entry:hover > img {
  content: var(--edit-light);
}

.entry-row-option {
  padding: 0.8rem;
  font-weight: 1000;
  font-size: 2rem;
  color: var(--color-primary);
  text-align: center;
  cursor: pointer;
}

/* SMALL SCREENS */

@media only screen and (max-width: 767px) {
  
  .sheet-page {
    padding: 0;
  }

  .sheet-header-icon {
    display: none;
  }

  .sheet-header-meta {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }

  .sheet-search {
    padding-right: 1rem;
  }

  .sheet-display-body {
    border-radius: 0;
  }

  .new-entry {
    display: none;
  }

  .sheet-display-body {
    margin: 0;
  }

  .sheet-display-body::-webkit-scrollbar {
    display: none;
  }

}




/* LARGE SCREENS */

@media only screen and (min-width: 768px) {



}


