.sheet-page {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  /* max-width: 1920px; */
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-user-select: text;
  user-select: text;
}

.sheet-display-container {
  min-height: calc(100vh);
  max-height: calc(100vh);
  width: 100%;
  overflow: hidden;
  /* border: 1px solid black; */
  border-radius: var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
}

.sheet-display-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: inherit;
}

.sheet-display-body {
  border-top-left-radius: var(--global-border-radius);
  border-top-right-radius: var(--global-border-radius);
  /* border-bottom-left-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
  max-height: calc(100% - 6.7rem);
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  z-index: 400;
  cursor: grab;
}

.sheet-display-body::-webkit-scrollbar {
  display: block;
  width: 0rem;
  overflow: auto;
  height: 0.7em;
  cursor: pointer;
}

.sheet-display-body::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 1rem;
  cursor: pointer;
}

.sheet-display-body::-webkit-scrollbar-track {
  background: var(--color-quinary-bright);
  border-radius: 1rem;
  margin: 0rem;
  cursor: pointer;
}

.sheet-header-meta {
  padding-left: 1rem;
}

.sheet-display-header .sheet-header-meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
  padding: 1rem 2rem;
  padding-right: 0rem;
}

.sheet-search {
  display: flex;
  max-width: 300px;
  padding-right: 2rem;
}

.sheet-search input {
  max-width: 200px;
}

.sheet-display-header img {
  height: 40px;
  width: 40px;
  margin: 1rem;
  content: url('../_assets/img/logo.png');
}

.sheet-display-header span {
  font-size: var(--font-size-heading);
  font-weight: 700;
  color: var(--color-sheet-title);
}

.sheet-display-header input {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: var(--color-secondary);
  width: 250px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgba(131, 131, 131, 0.8);
  padding: 5px;
  margin: 0px 10px;
}

tr:nth-child(odd), tr:nth-child(odd) .entry-row-option {
  background: var(--color-odd-row);
  transition: all var(--global-transition-speed-fast) ease;
}

tr:nth-child(even), tr:nth-child(even) .entry-row-option {
  background: var(--color-even-row);
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-display-header button {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: rgb(95, 95, 95);
  width: 120px;
  height: 47px;
  border-radius: 8px;
  background-color: lightgray;
  border: none;
}

.sheet-display-table thead tr td:last-of-type {
  border-top-right-radius: var(--global-border-radius);
}

.sheet-display-table thead tr td {
  background-color: var(--color-tertiary);
}

.sheet-display-table {
  position: relative;
  border-collapse: separate;
  white-space: nowrap;
  width: 100%;
  border-spacing: 0;
  border-bottom: 4px solid var(--color-primary);
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  z-index: 400;
}

.sheet-display-cell {
  padding: 20px;
  font-size: var(--font-size-body);
  color: var(--color-text);
}

thead .sheet-display-cell {
  color: var(--color-text-menu);
  border-bottom: 4px solid var(--color-primary);
}

.sheet-display-table thead {
  font-size: var(--font-size-body-large);
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sheet-display-table tbody tr:last-of-type {
  border-bottom: 4px solid var(--color-primary);
}

tbody .sheet-display-cell {
  cursor: pointer;
}

.field, .value {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 30px;
  max-height: 30px;
}

.entry-row:hover {
  background-color: var(--color-row-hover);
}
.entry-row:hover .entry-row-option {
  background-color: var(--color-row-hover);
}

.new-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 90px;
  background-color: var(--color-tertiary);
  bottom: 2.8rem;
  right: 1.2rem;
  transition: all var(--global-transition-speed) ease;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  cursor: pointer;
  z-index: 400;
}

.new-entry img {
  /* content: var(--edit-dark); */
  content: var(--edit-light);
  height: 1.8rem;
  padding: 0.4rem;
  margin: 15px 10px;
}

.new-entry:hover {
  background-color: var(--color-quaternary);
}

.new-entry:hover > img {
  content: var(--edit-light);
}

.entry-row-option {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  /* background-color: #ffffff; */
  padding-right: 0rem;
  font-weight: 1000;
  font-size: 2rem;
  color: var(--color-primary);
  text-align: center;
  cursor: pointer;
}

tr:nth-child(even) .entry-row-option  {
  /* background: #e7eaf2; */
}

.dummy-users-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 90px;
  background-color: var(--color-tertiary);
  bottom: 8.4rem;
  right: 1.2rem;
  transition: all var(--global-transition-speed) ease;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  cursor: pointer;
  z-index: 400;
}

.dummy-users-button img{
  content: url('../_assets/icons/account.png');
  height: 1.8rem;
  padding: 0.4rem;
  margin: 15px 10px;
}

tr:nth-child(odd).entry-highlighted, tr:nth-child(odd).entry-highlighted .entry-row-option {
  background-color: var(--color-highlighted);
  transition: all var(--global-transition-speed-fast) ease;
}

tr:nth-child(even).entry-highlighted, tr:nth-child(even).entry-highlighted .entry-row-option {
  background-color: var(--color-highlighted);
  transition: all var(--global-transition-speed-fast) ease;
}

.entry-highlighted .sheet-display-cell, .entry-highlighted .entry-row-option {
  color: var(--color-text-menu);
  /* font-weight: var(--bold); */
}



/* SMALL SCREENS */

@media only screen and (max-width: 767px) {
  
  .sheet-page {
    padding: 0;
    max-height: calc(100%);
  }

  .sheet-header-icon {
    display: none;
  }

  .sheet-header-meta {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
  }

  .sheet-search {
    padding-right: 1rem;
  }

  .sheet-search input {
    display: none;
  }

  .sheet-display-body {
    border-radius: 0;
    max-height: calc(100% - 4.5rem);
  }

  .sheet-display-container {
    min-height: unset;
    border-radius: 0;
  }

  .new-entry {
    display: none;
  }

  .sheet-display-body {
    margin: 0;
  }

  .sheet-display-body::-webkit-scrollbar {
    display: none;
  }

  .entry-row-option {
    padding-right: 1rem;
  }

  .sheet-display-table thead tr td:last-of-type {
    border-top-right-radius: 0;
  }

  .sheet-display-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: inherit;
  }

}




/* LARGE SCREENS */

@media only screen and (min-width: 768px) {

  .sheet-header-icon {
    display: none;
  }

  .sheet-display-container.shrink {
    width: calc(100% - 365px);
    padding-right: 28rem;
    transition: all var(--global-transition-speed) ease;
  }

}


