.sidebar {
  position: fixed;
  transition: width var(--global-transition-speed) ease;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--color-primary);
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  border-top-right-radius: var(--global-border-radius);
  border-bottom-right-radius: var(--global-border-radius);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
  width: 100%;
  background: var(--color-secondary);
  border-top-right-radius: var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
}

.sidebar-header-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: var(--color-text-menu);
}

.sidebar-header-logo {
  width: 2.5rem;
  min-width: 2.5rem;
}

.sidebar-header-text {
  display: none;
  height: 100%;
  padding: 0 0 0 1rem;
  font-size: var(--font-size-heading);
  font-weight: var(--heavy);
  color: var(--text-secondary);
  letter-spacing: 0ch;
  transition: var(--global-transition-speed);
}

.sidebar-header-add-sheet {
  display: none;
  padding: 1rem 2rem 1rem 1rem;
  width: 2rem;
  min-width: 2rem;
  margin-top: 0.25rem;
}

.sidebar-header-add-sheet {
  display: none;
  padding: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
  width: 2rem;
  min-width: 2rem;
  margin-top: 0.25rem;
  border-radius: var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
}

.sidebar-add-entry-btn-dummy {
  display: flex;
  width: 24rem;
}

.sidebar-add-entry-btn {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(calc(-50%));
  padding: 2.5rem 2.5rem 4.2rem 2.5rem;
  margin-bottom: -3rem;
  background-color: var(--color-quaternary);
  border-radius: 50%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar-add-entry {
  display: flex;
  z-index: 3000;
  align-items: center;
  width: 2.8rem;
  min-width: 2.8rem;
  margin-top: -1.2rem;
  transition: all var(--global-transition-speed) ease;
  cursor: pointer;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}

.sidebar-sheet {
  min-height: 4.5rem;
  transition: all var(--global-transition-speed) ease;
}

.sidebar-sheet:first-of-type {
  margin-top: 0.5rem;
}

.sidebar-sheet-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--color-text-menu);
}

.sidebar-sheet-item-group {
  display: flex;
  align-items: center;
}

.sidebar-sheet-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: var(--font-size-body);
  font-weight: var(--bold);
  min-width: 3.5rem;
  min-height: 3.5rem;
  background-color: var(--color-secondary);
  border-radius: 1000rem;
}

.sidebar-sheet-link-text {
  display: none;
  padding-left: 1rem;
  white-space: nowrap;
}

.sidebar-sheet-menu {
  display: none;
  padding-right: 1rem;
  width: 2rem;
  min-width: 2rem;
  opacity: 0;
  transition: all var(--global-transition-speed) ease;
}

.sidebar-sheet-item:focus .sidebar-sheet-circle {
  background: var(--color-quaternary);
  transition: all var(--global-transition-speed) ease;
}

.sidebar-sheet-item:focus .sidebar-sheet-link-text {
  font-weight: var(--bold);
}

.sidebar-sheet-item .sidebar-sheet-circle .active-sheet {
  background: var(--color-quaternary);
  transition: all var(--global-transition-speed) ease;
}

.sidebar-sheet-item .sidebar-sheet-link-text .active-sheet {
  font-weight: var(--bold);
}

.sidebar-footer {
  display: flex;
  margin-top: auto;
  font-weight: var(--thick);
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  text-transform: uppercase;
  color: var(--text-secondary);
  background: var(--color-primary);
  border-bottom-right-radius: var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
  cursor: pointer;
}

.sidebar-footer-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  width: 100%;
  color: var(--color-text-menu);
}

.sidebar-footer-link img {
  border-radius: 50%;
  width: 2.5rem;
  min-width: 2.5rem;
  box-shadow: 0 0 4px 0px var(--global-box-shadow-color);
}

.sidebar-footer-link-text {
  display: none;
  padding-left: 1rem;
}

.sidebar-footer-theme {
  display: none;
  margin-right: 0.8rem;
}

.sidebar-footer-theme svg.sun {
  width: 3rem;
  min-width: 3rem;
  height: auto;
  fill: var(--color-quinary);
}

.sidebar-footer-theme svg.moon {
  width: 3rem;
  min-width: 3rem;
  margin-top: -0.3rem;
  margin-right: 0.15rem;
  height: auto;
  fill: var(--color-quinary);
}
