.navbar {
  position: fixed;
  background-color: var(--color-primary);
  transition: width var(--global-transition-speed) ease;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 8px 0 #413768ba;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.sheet-link {
  width: 100%;
}

.name-short {
  font-size: var(--font-size-body);
  font-weight: var(--bold);
}

.account {
  position: absolute;
  bottom: 0;
  font-weight: var(--bold);
  width: 100%
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  color: var(--color-text-menu-lite);
  text-decoration: none;
  transition: var(--global-transition-speed);
  padding-left: 0rem;
  /* justify-content: center; */
}

.nav-link:hover {
  background: var(--color-secondary);
}

.nav-link:focus {
  background: var(--color-secondary);
  font-weight: var(--bold);
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-family: var(--global-font);
  white-space: nowrap;
}

.nav-link img {
  width: 2.5rem;
  min-width: 2rem;
  margin: 0 0.5rem;
}

.logo {
  font-weight: var(--heavy);
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  background: var(--color-secondary);
  letter-spacing: 0.2ch;
  width: 100%;
  transition: all var(--global-transition-speed) ease;
}

.logo img {
  transition: var(--global-transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  font-size: var(--font-size-heading);
  transition: var(--global-transition-speed);
}

.logo .nav-link {
  margin: 0;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .page {
    margin-left: 0rem;
    padding: var(--global-padding);
  }

  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  .page {
    margin-left: 5rem;
    padding: var(--global-padding);
  }

  .navbar {
    top: 0;
    width: 5rem;
    height: calc(100% - 2rem);
    margin: 1rem;
    border-radius: var(--global-border-radius);
  }

  .navbar:hover {
    width: 28rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .nav-link {
    padding-left: 1rem;
    justify-content: start;
  }

  .navbar:hover .logo {
    padding-left: 1rem;
    justify-content: start;
  }
  
  .navbar:hover .logo {
    background: var(--color-secondary);
    transition: all var(--global-transition-speed) ease;
  }

}