.users-display-container{
  min-height: calc(100vh);
  max-height: calc(100vh);
  width: 100%;
  overflow: hidden;
  border-radius: var(--global-border-radius);
}

.users-display-exit{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70px;
  width: 70px;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 90px;
  color: white;
  font-size: var(--font-size-heading);
  font-weight: 500;
  margin: 1.2rem;
  margin-bottom: 2.8rem;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  transition: all var(--global-transition-speed) ease;
}

.users-display-exit:hover{
  background-color: var(--color-quaternary);
}


.users-header-meta {
  padding-left: 1rem;
}

.users-search {
  padding-right: 2rem;
}

.users-display-header div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
}

.users-display-header img {
  height: 40px;
  width: 40px;
  margin: 1rem;
  content: url('../_assets/img/logo.png');
}

.users-display-header span {
  font-size: var(--font-size-heading);
  font-weight: 700;
  color: var(--color-text);
}

.users-display-header input {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: var(--color-secondary);
  width: 250px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgba(131, 131, 131, 0.8);
  padding: 5px;
  margin: 0px 10px;
}

.users-display-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: inherit;
}

.users-display-header button {
  font-size: var(--font-size-body-large);
  font-weight: 500;
  color: rgb(95, 95, 95);
  width: 120px;
  height: 47px;
  border-radius: 8px;
  background-color: lightgray;
  border: none;
}

.users-table-simple{
  position: relative;
  border-collapse: separate;
  white-space: nowrap;
  width: 100%;
  border-spacing: 0;
  border-bottom: 4px solid var(--color-primary);
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
}

.users-table-cell thead {
  font-size: var(--font-size-body-large);
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

thead .users-table-cell {
  color: var(--color-text-menu);
  border-bottom: 4px solid var(--color-primary);
}

.users-table-cell {
  padding: 20px;
  font-size: var(--font-size-body);
  color: var(--color-text);
}


.users-table-simple thead tr td:last-of-type {
  border-top-right-radius: var(--global-border-radius);
}

.users-table-simple thead tr td {
  background-color: var(--color-tertiary);
}

.user-row:hover {
  background-color: var(--color-row-hover);
}