.muibox {
    display: 'flex';
    flex-Wrap: 'wrap';
    flex-direction: 'row';

}
.muilist {
    flex: 0 0 33.3333%;
    
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;

}