.muibox {
    display: 'flex';
    flex-Wrap: 'wrap';
    flex-direction: 'row';

}
.muilist {
    flex: 0 0 33.3333%;
    
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    margin-left: 80px;
    padding: 10;
    text-align: left;

}