.logIn {
  text-align: center;
}

.input1 {
  display: flex;
  justify-content: center;
  height: 30px;
}

.input2 {
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 5%;
}

.noAcct {
  text-align: center;
}

.noAcctDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.noAcctBtn {
  margin-left: 25px;
  margin-right: 25px;
}

.signInBtn {
  margin-top: -25px;
}

.signUp {
  display: flex;
  justify-content: center;
}

.noAcct {
  margin-top: 0px;
}

.signUpButton {
  border-radius: 50rem;
  height: 50px;
  width: 200px;
  background-color:rgb(207, 181, 219);
  font-weight: bold;
  font-size: large;
}

.signUpButton:hover {
  cursor: pointer;
  background-color:rgb(188, 159, 210);
  transform: scale(1.05);
}