.background {
  background-image: url('https://media.istockphoto.com/photos/abstract-blur-purple-color-tone-background-with-glowing-light-effect-picture-id1060839462?k=20&m=1060839462&s=612x612&w=0&h=B9h06MTvm_dYpR4tLNYQfkwT5GLOOS9VZj1S5Bmuqzc=');
  background-size: cover;
}

.landingHeader {
  margin-top: 0;
  font-size: 50px;
  text-align: center;
}

.logIn {
  text-align: center;
}

.input1 {
  display: flex;
  justify-content: center;
  padding: 2%;
  height: 30px;
}

.input2 {
  display: flex;
  justify-content: center;
  height: 30px;
}

.signIn {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.signInButton {
  border-radius: 50rem;
  height: 40px;
  width: 90px;
  background-color: rgb(215, 205, 255);
}

.signInButton:hover {
  cursor: pointer;
  background-color:rgb(182, 164, 255);
  transform: scale(1.05);
}

.noAcct {
  text-align: center;
}

.signUp {
  display: flex;
  justify-content: center;
}

.signUpButton {
  border-radius: 50rem;
  height: 50px;
  width: 200px;
  background-color: rgb(215, 205, 255);
  font-weight: bold;
  font-size: large;
}

.signUpButton:hover {
  cursor: pointer;
  background-color:rgb(182, 164, 255);
  transform: scale(1.05);
}