.viewPostsHeader {
  display: flex;
  justify-content: center;
}

.postBodyContainer{
  display: flex;
  justify-content: center;
}

.profileButtons{
  display: flex;
  justify-content: space-evenly;
}

.profile {
  border-radius: 50rem;
  background-color:rgb(207, 181, 219);
  margin-top: -50px;
}

.profileHeader {
  margin-top: 10px;
}

.profile:hover {
  cursor: pointer;
  background-color:rgb(188, 159, 210);
  transform: scale(1.05);
}

.delete {
  border-radius: 50rem;
  background-color: rgb(215, 205, 255);
}

.delete:hover {
  cursor: pointer;
  background-color:rgb(182, 164, 255);
  transform: scale(1.05);
}

.newPostButton {
  margin-top: -35px;
}

.newPostContainer {
  display: flex;
  justify-content: center;
}

.titleInput {
  text-align: center;
  width: 700px;
  min-height: 50px;
  height: auto;
}

.contentInput {
  text-align: center;
  width: 700px;
  min-height: 50px;
  height: auto;
}

.myFeed {
  border-radius: 50rem;
  background-color: rgb(215, 205, 255);
}

.myFeed:hover {
  cursor: pointer;
  background-color:rgb(182, 164, 255);
  transform: scale(1.05);
}