.blogTitle {
  text-align: center;
  font-size: xxx-large;
}

.profileHeader {
  text-align: center;
}

.background {
  background-color: aliceblue;
  background-size: cover;
}

.viewPostsHeader {
  display: flex;
  justify-content: center;
}

.postBodyContainer{
  display: flex;
  justify-content: center;
}

.postHeader {
  text-align: center;
  font-size: x-large;
  min-height: 50px;
  height: auto;
  width: 700px;
  border: 2px solid black;
  background-color: rgb(215, 205, 255);
  margin-bottom: 0;
}

.postBody{
  text-align: center;
  font-size: large;
  background-color: white;
  min-height: 60px;
  height: auto;
  width: 700px;
  margin-top: 0;
  border: 2px solid black;
}

.profileButtons{
  display: flex;
  justify-content: center;
}

.profile {
  border-radius: 50rem;
  background-color: rgb(215, 205, 255);
}

.profile:hover {
  cursor: pointer;
  background-color:rgb(182, 164, 255);
  transform: scale(1.05);
}

.delete {
  border-radius: 50rem;
  background-color: rgb(215, 205, 255);
}

.delete:hover {
  cursor: pointer;
  background-color:rgb(182, 164, 255);
  transform: scale(1.05);
}

.newPostContainer {
  display: flex;
  justify-content: center;
}

.titleInput {
  text-align: center;
  width: 700px;
  min-height: 50px;
  height: auto;
}

.contentInput {
  text-align: center;
  width: 700px;
  min-height: 50px;
  height: auto;
}

.myFeed {
  border-radius: 50rem;
  background-color: rgb(215, 205, 255);
}

.myFeed:hover {
  cursor: pointer;
  background-color:rgb(182, 164, 255);
  transform: scale(1.05);
}